/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f8f8f8;
}

/* Splash screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.splash-content h1 {
    color: #fff;
    font-size: 95px;
}

.splash-screen.hide {
    opacity: 0;
    visibility: hidden;
}

.content-wrapper {
    position: relative;
    left: -100%; /* Initially move content off-screen */
    transition: left 0.5s ease;
}


/* Dark mode styles */
.dark-mode .intro-section {
    background: #fff; /* Change background color to white */
    color: #333; /* Change text color to dark */
}

/* Toggle button styles */
.toggle-container {
    position: absolute;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #fff;
}

.toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(26px);
}

/* Dark mode slider background */
.toggle-checkbox:checked + .toggle-label {
    background: #333;
}



/* Header styles */
header {
    position: fixed;
    z-index: 1000;
    width: 99%;
    background-color: #0C0C0C;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}


nav a i {
    font-size: 20px; /* Adjust icon size as needed */
}

nav a.active {
    background-color: #F2613F;
}

nav a:hover {
    background-color: #F2613F;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
}


/* Sidebar styles */
.sidebar {
    position: fixed; /* Assuming it should be fixed */
    left: -250px; /* Width of the sidebar */
    width: 250px;
    height: 100%;
    background-color: #333; /* Example color */
    transition: left 0.3s; /* Smooth transition for toggling */
}

/* When .show-sidebar is added to the body, adjust the nav display */
.show-sidebar nav {
    display: block; /* This makes the nav visible when .show-sidebar is active */
}

/* This styles the sidebar specifically */
.show-sidebar .sidebar {
    position: fixed; /* Fixed to the viewport */
    left: 0; /* Adjust this as necessary to align it correctly */
    top: 0;
    width: 250px; /* Width of the sidebar */
    height: 100%;
    background-color: #333; /* Sidebar background color */
    z-index: 1500; /* Make sure this is above other content */
    transition: left 0.3s ease-in-out; /* Smooth transition for sliding in and out */
}

.sidebar ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #F2613F; /* Highlight color on hover */
}

/* Show sidebar when menu button is clicked */
.show-sidebar .sidebar {
    left: 0;
}


/* Intro section styles */
.intro-section {
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=1640&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: none;
    background-size: cover;
    /* background: linear-gradient(to bottom, #0C0C0C, #333); */
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 88vh;
    animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;
}

.intro-text {
    max-width: 600px;
    position: relative;
    z-index: 1;
    margin-bottom: 25rem;
}

.intro-text .hello {
    font-size: 1.2em;
    color: #F2613F;
}

.intro-text  {
    font-size: 3em;
    line-height: 1.2;
    color: #333;
    position: relative;
}

.intro-text .highlight {
    color: #F2613F;
    animation: slide-in-out 2s infinite alternate; /* Add animation property */
}

.intro-text blockquote {
    font-style: italic;
    color: #666;
    margin: 20px 0;
}

.buttons {
    margin-top: 20px;
}

.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.buttons .btn-primary {
    background-color: #F2613F;
    color: #fff;
    margin-right: 10px;
}

.buttons .btn-primary:hover {
    background-color: #e04c2b;
}

.buttons .btn-secondary {
    background-color: #fff;
    color: #F2613F;
    border: 2px solid #F2613F;
}

.buttons .btn-secondary:hover {
    background-color: #F2613F;
    color: #fff;
}

.experience {
    text-align: center;
    color: #333;
    font-weight: bold;
}

.experience p {
    font-size: 1.2em;
}

.experience p strong {
    font-size: 2em;
    display: block;
}

@media (max-width: 768px) {
    .intro-content {
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        text-align: center;
    }

}
@keyframes slide-in-out {
    0% {
        transform: translateX(0); /* Start from current position */
    }
    50% {
        transform: translateX(60px); /* Slide to the right */
    }
    100% {
        transform: translateX(0); /* Return to original position */
    }
}

/* Hero Section ends  */

a{
    text-decoration: none;
}

h3:hover{
    color: #e04c2b;
}


/* Works section */
.works-section {
    padding: 20px;
}

.works-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Wrapper for horizontal scrolling */
.projects-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical overflow */
    white-space: nowrap; /* Prevent line breaks */
}

.projects-grid {
    display: inline-flex; /* Use inline-flex to keep the grid in a single line */
    gap: 20px;
    animation: slide 35s linear infinite; /* Adjusted timing for smoother animation */
}

.projects-grid:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

.project-card {
    width: 250px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #f9f9f9; /* Added background for better visibility */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added shadow for better separation */
}

.project-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 8px;
}

.project-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.project-card p {
    font-size: 1em;
    color: #555;
    white-space: normal; /* Allow text to wrap */
}

/* Keyframes for scrolling animation */
@keyframes slide {
    0% {
        transform: translateX(0); /* Start from initial position */
    }
    100% {
        transform: translateX(-100%); /* Move to the left by the width of one card plus margin */
    }
}

.project-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .projects-grid {
        flex-wrap: nowrap;
    }
}


/* Contact me  */
.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#0C0C0C  , #333) ;
    animation: fadeIn 3s ease-out;
}

.c-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: -1;
}

.c-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.c-left, .c-right {
    flex: 1;
}

.c-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.c-info {
    margin-bottom: 20px;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.c-icon {
    width: 24px;
    margin-right: 10px;
}

.c-desc {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

.thanks {
    margin-top: 10px;
    color: #F2613F;
}
.highlight {
    color: #F2613F; /* Adjust the color to your desired orange shade */
    font-weight: bold; /* Optional: Add any other styles you want */
}


/* Services section */
.services-section {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    transform: translateY(20px); /* Start with a slight downward offset */
    opacity: 0; /* Initially hide the section */
    transition: opacity 5s ease; /* Smooth fade-in effect */
}

.fade-in {
    opacity: 1; /* Fully opaque */
}


.services-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.service-card {
    background: linear-gradient(to bottom, #0C0C0C, #333);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
    max-width: 80%;
    height: auto;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Automatically fit columns with a minimum width of 300px */
    gap: 20px; /* Adjust the gap between the service cards */
    max-width: 1300px;
    margin: 0 auto;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    max-width: 100%; /* Set the maximum width of the images to 100% of their container */
    height: auto; /* Ensure the aspect ratio of the images is maintained */
}


.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card p {
    color: #aeabab;
    font-size: 12.5px;
}



/* Media queries ...  */
@media (max-width: 768px) {
    *{
        font-size: large;
    }

    /* Header */
    header {
        padding: 10px 10px; /* Adjust padding for smaller screens */
    }

    .splash-content h1 {
        font-size: 2em;
    }

    /* Navigation */

    nav{
            margin-top: 50px;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    nav ul.nav-open {
        display: flex;
    }

    nav ul li {
        width: 100%;
    }

    nav a {
        display: block;
        width: 100%;
    }

    /* Adjust button styles for mobile */
.nav-toggle {
    display: block; /* Make the toggle button visible */
    position: absolute;
    right: 50px;
    top: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

    /* Intro section styles */
.intro-section {
    

    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 88vh;
    background-position: 50%;
    background-size: cover;
    animation: fadeIn 1s ease-out;
}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;
}

.intro-text {
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.intro-text .hello {
    font-size: 1.2em;
    color: #F2613F;
}

.intro-text {
    font-size: 3em;
    line-height: 1.2;
    color: #fff;
    position: relative;
}

.intro-text .highlight {
    color: #F2613F;
    animation: slide-in-out 2s infinite alternate; /* Add animation property */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    /* Contact section */

.contact-section {
    padding: 10px 20px;
    text-align: center;
}

.contact-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}
    .c{
        height: 100%;
    }
   .c-wrapper {
        flex-direction: column; /* Stack items vertically */
    }

    .c-left,
    .c-right {
        width: 100%; /* Make left and right sections full width */
    }

    .c-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .c-title {
        font-size: 1.5em; /* Decrease the font size of the title */
        margin-bottom: 10px;
    }

    .c-info-item {
        font-size: 0.8em; /* Decrease the font size of contact info items */
        margin-bottom: 5px;
    }

    .c-desc {
        font-size: 0.9em; /* Decrease the font size of the description */
        margin-bottom: 10px;
    }

    form {
        width: 100%; /* Make form full width */
    }
}
/* Contact section animation */
.contact-animation {
    opacity: 0; /* Initially hide the section */
    transform: translateY(-150px); /* Start with a slight upward offset */
    transition: opacity 8s ease-out, transform 1s ease-out; /* Smooth fade-in and slide-down effect */
}

.contact-animation.fade-in {
    opacity: 1; /* Fully opaque */
    transform: translateY(0); /* Slide down to original position */
}
